@font-face {
    font-family: ComicBoom; src: url('../fonts/comic_boom.ttf'); 
} 

body{
    font-family: 'Raleway', sans-serif;
    background-color: #111;
    color: white;
}
a{
    color: #6ca7e6;
    font-weight: bold;
}
p{
    font-size:20px;
}
.title {
    color: white;
    text-shadow: 3px 3px #222;
    font-family: 'ComicBoom';
}
.author {
    font-family: 'Raleway';
    font-weight: bold;
}
.title-background {
    background-image:url(../img/title-background.png);
    opacity: 95%;
    
    /* below lines are necessary to stop weird image repeating */
    background-size: cover;
    background-repeat: no-repeat;
    /* fixes center of image so when screen is resized, center is in view */
    background-position: center;
}

.caption {
    padding-top: 0.5em;
}

.foreground-item {
    color: #111;
}


.hidden {
    opacity: 0;
}



@media screen and (max-width: 539px) {
    /* added to make sure title isn't too large on small screens */
    .title {
        h1 {
            font-size:72px;
        }
    }
    /* resize content font size */
    p {font-size: 16px;}
}