body{
    font-family: 'Goudy Bookletter 1911', serif;
    background-color: #111;
    color: white;
}
p{
    font-size:20px;
}
.title {
    color: white;
    text-shadow: 3px 3px #222;
}
.title-background {
    background-image:url(../img/title-background.png);
    opacity: 95%;
    
    /* below two lines are necessary to stop weird image repeating */
    background-size: cover;
    background-repeat: no-repeat;
}